/*
 * General
 */
 * {
    font-family: 'Poppins', 'Open Sans', 'sans-serif'; 
    color:darkolivegreen;
  }

  #body-sect {
    margin: 70px;
  }

  .column {
    float: left;
    margin-top: 30px;
    padding: 15px;
  }

  .row {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  h3 {
    color: grey;
  }
  
  #footer {
    font-weight: bold;
    padding-top: 60px;
    color:gray;
    text-align: center;
  }
  